.table {
  width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #fff;
}

.head {
  background-color: rgb(0, 188, 213);
}

.head,
.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
