.container {
  width: 400px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 30px;
}

.title {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: rgb(109, 117, 122);
}

.statList {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.statList li {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px;
  padding: 15px;
}

.label,
.percentage {
  color: #fff;
  text-align: center;
}

.percentage {
  font-size: 24px;
}
